.dialog {
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  h2 {
    padding: 0;
    margin: 0;
  }
}

.wrapper-box {
  background-image: url('/src/images/footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h5 {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 0;
  margin: 0;
  .img-block {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    img {
      width: 25rem;
      height: 30rem;
    }

    .icon {
      position: absolute;
      &.right {
        right: 0;
        padding: 0;
      }
      &.left {
        left: 0;
        padding: 0;
      }
    }

    .post-image {
      max-width: 100%;
      max-height: 60vh;
    }
  }
}

@media (max-width: 920px) {
  .dialog-content {
    .img-block {
      margin: 0 auto;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      position: relative;
      img {
        width: 50rem;
        height: 60rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .dialog {
    .dialog-content {
      flex-direction: column;
      .img-block {
        max-width: 100%;
        max-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        position: relative;
        img {
          width: 25rem;
          height: 30rem;
        }
        .icon {
          position: absolute;
          &.right {
            right: 0;
          }
          &.left {
            left: 0;
          }
        }
      }
      h5 {
        text-align: justify;
        width: 100%;
        margin-left: auto;
        box-sizing: border-box;
        margin-right: auto;
        display: block;
      }
    }
  }
}
