.card-box {
  border-radius: 20px;
  height: 100%;
  .card {
    background-image: url('/src/images/footerImg.webp');
    border-radius: 20px;
    .association-icon {
      background: radial-gradient(
        circle,
        rgba(245, 245, 220, 1) 0%,
        rgba(210, 180, 140, 1) 100%
      );
      display: flex;
      border-radius: 20px;
      margin: 10px;
      justify-content: center;
      padding: 5px 15px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    .profile-tools {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .profile-views {
        display: flex;
        flex-direction: column;
        font-size: 15px;
      }
    }

    .name-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .avatar-block {
      display: flex;
      justify-content: center;
      position: relative;
      .profile-avatar {
        border-radius: 20px;
      }
    }

    .change-avatar {
      position: absolute;
      bottom: 5%;
    }
    .contacts-wrapper {
      gap: 2;
      justify-content: center;
      .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
