.card-box {
  border-radius: 20px;
  height: 100%;
  .card {
    background-image: url('/src/images/footer.svg');
    border-radius: 20px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    .name-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .profile-settings {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .profile-avatar {
      height: 250px;
      width: 250px;
      border-radius: 20px;
    }

    .change-avatar {
      position: absolute;
      top: 220px;
    }
    .contacts-wrapper {
      gap: 2;
      justify-content: center;
      .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
