* {
  margin: 0;
  padding: 0;
}

// html,
// #root {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// #root {
//   display: flex;
//   flex-direction: column;
// }

body {
  background: #0b0b0b;
  background-image: url('/src/images/Background_V8.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'PT Sans', sans-serif;
}
