* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: #0b0b0b;
  background-image: url('/src/images/backgroundImg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'PT Sans', sans-serif;
}
